<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Appsian Installer</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

<link href="../../static/css/spring-core.css"
	th:href="@{css/spring-core.css}" rel="stylesheet" media="screen" />
<style>
hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
</style>
</head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="#"> <img src=""
			th:src="@{img/appsian-logo.png}" height="50" width="220">
		</a> <a class="navbar-brand" href="/">Home</a> <a class="navbar-brand"
			href="/asxas">Instruction</a> <a class="nav navbar-brand"
			href="/logout">Logout</a>

	</nav>
	<div class="container">
		<div class="row">
			<h3>An Error occoured! Kindly Contact To Technical Team</h3>
		</div>
	</div>
</body>
</html>